MaterialConsts:
{
    lambda = 0.01;
    mu_s = 2.22;
    d_z = 0.0;
    a = 0.287e-9;
}

LatticeVectors:
{
    LatVec0 = [1.0,0.0,0.0];
    LatVec1 = [0.0,1.0,0.0];
    LatVec2 = [0.0,0.0,1.0];
}

Sites:
{
    Site0 = [0.0, 0.0, 0.0]; 
    Site1 = [0.5, 0.5, 0.5]; 
}

InitialMagnetisation:
{
    initm0 = [0.0, 0.0, 1.0];
    initm1 = [0.0, 0.0, -1.0];
}

# Testing
IntegerSites:
{
    ISite0 = [0, 0, 0];
    ISite1 = [1, 1, 1];
    Idx = 2;
    Idy = 2;
    Idz = 2; 
}

ExternalField:
{
	Type = "Uniform"; # Options: "Uniform", "Split", "Sinusoidal"
	Field = [0.0, 0.0, 0.0];
}

Time:
{
    SizeOfStep = 1e-16;
    NumberOfSteps = 200000.0;
    RelaxationTime = 100;
}

PhysicalConsts:
{
    BoltzmannConstant = 1.3807e-23;
    BohrMagneton = 9.2740e-24;
    GyromagneticRatio = 1.76e11;
}

Geom:
{
    UnitCellsInX = 2;
    UnitCellsInY = 2;
    UnitCellsInZ = 40;
    NumberOfSites = 2;
    NumberOfSublat = 2;
}

Spinwaves:
{
    StartTime = 150000;
    TimeStep = 3e-15;
}

Exchange:
{
    InputFile = "/Users/Hirst/Documents/PhD/LLG_code/Fe/BCC_afm_test.dat";
    Units = "J";
    Cutoff = false;
    CutoffEnergy = 0.0; #mRy
    Format = "Jerome";
    ChangeSign = "N";
    Double_Jij = false;
    ibtoq = -1; 
}

Util:
{
    afmflag="N";
    filepath = "output/magnetisation/";

}

