MaterialConsts:
{
    lambda = 0.0001;
    mu_s = 1.5;
    a = 0.2e-9;
}

Uniaxial_Anisotropy:
{
        d_x = 0.0;
		d_y = 0.0; 
        d_z = 0.0; 

}

Cubic_Anisotropy:
{
        d_x = 0.0;
		d_y = 0.0;
        d_z = 0.0;
}

angle = 0.0;


LatticeVectors:
{
    LatVec0 = [2.0,0.0,0.0];
    LatVec1 = [0.0,2.0,0.0];
    LatVec2 = [0.0,0.0,2.0];
}

Sites:
{
    Site0 = [0.0, 0.0, 0.0];
    Site1 = [0.0, 0.0, 1.0]; 
    Site2 = [0.0, 1.0, 0.0];
    Site3 = [0.0, 1.0, 1.0]; 
    Site4 = [1.0, 0.0, 0.0];  
    Site5 = [1.0, 0.0, 1.0]; 
    Site6 = [1.0, 1.0, 0.0];
    Site7 = [1.0, 1.0, 1.0];   
}

InitialMagnetisation:
{
    initm0 = [0.0, 0.0, -1.0];
    initm1 = [0.0, 0.0, 1.0];
    initm2 = [0.0, 0.0, 1.0];
    initm3 = [0.0, 0.0, -1.0];
    initm4 = [0.0, 0.0, 1.0];
    initm5 = [0.0, 0.0, -1.0];
    initm6 = [0.0, 0.0, -1.0];
    initm7 = [0.0, 0.0, 1.0];
}

IntegerSites:
{
    ISite0 = [0.0, 0.0, 0.0];
    ISite1 = [0.0, 0.0, 1.0]; 
    ISite2 = [0.0, 1.0, 0.0];
    ISite3 = [0.0, 1.0, 1.0]; 
    ISite4 = [1.0, 0.0, 0.0]; 
    ISite5 = [1.0, 0.0, 1.0]; 
    ISite6 = [1.0, 1.0, 0.0];
    ISite7 = [1.0, 1.0, 1.0]; 
    Idx = 2;
    Idy = 2;
    Idz = 2;
}

ExternalField:
{
	Type = "Uniform"; # Options: "Uniform", "Split", "Sinusoidal", "pulse"
	Field = [0.0, 0.0, 0.0];
	start_time = 10000.0;
	end_time = 14000.0;
	height = 0;
	#Field = [0.0, 0.0, 0.0]; #T
}

Time:
{
    SizeOfStep = 1e-16;
    NumberOfSteps = 100000.0;
    RelaxationTime = 100;
}

PhysicalConsts:
{
    BoltzmannConstant = 1.3807e-23;
    BohrMagneton = 9.2740e-24;
    GyromagneticRatio = 1.76e11;
}

Geom:
{
	BoundaryConditions = "periodic";
    UnitCellsInX = 100;
    UnitCellsInY = 2;
    UnitCellsInZ = 2;
    NumberOfSites = 8;
    NumberOfSublat = 2;
    afmflag="SC"
}

Spinwaves:
{
    StartTime = 0;
    TimeStep = 3e-15;
}

Exchange:
{
    InputFile = "/home/sr4871/PhD/materials/sc/exchange/SC_afm_test1.dat";
    Units = "J";
    Cutoff = false;
    CutoffEnergy = 0.0; #mRy
    Format = "Jerome";
    ChangeSign = "N";
    Double_Jij = false;
    ibtoq = -1; 
}

Util:
{
    afmflag = "SC";
    filepath = "output/magnetisation/";
}
